:root {
    /* color palette */
    --dark: #011340;
    --light: #ffffff;
    --peach: #fe6675;
    --pink: #fe3e8a;
    --purple: #853987;
    --blue: #023583;
    --neon-blue: #8ffcff;
    --navlink-color: #fe6675;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*element styles*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: "Century Gothic", Roboto, Arial, sans-serif;
}

main {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

img {
    max-height: 100%;
    display: block;
}

p {
    text-decoration: none;
}

/* Header */
header {
    width: 100%;
    background-image: url(https://media.istockphoto.com/vectors/pixel-art-cyberpunk-metropolis-background-vector-id1279840008?k=20&m=1279840008&s=170667a&w=0&h=-iGUKiZEL2WRbhNLL6N5kEb0aR8BRHHGY8pODdiRTow=);
    background-image: no-repeat;
    background-size: cover;
    color: var(--light);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

h1 {
    font-size: 200%;
}

/*Nav Bar*/
nav {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: #fe6675
}

nav a {
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--light);
}

/* About Section */
.about-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
}



.headshot {
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(6, 6, 6, 0.413);
}

.headshot:hover {
    box-shadow: 0px 0px 15px #fe3e8a;
    transition: all .3s ease-in;
}

/* Portfolio Section*/
.work {
    text-align: center;
    margin-top: 80px;
}

.app-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1240px;
    margin: 0 auto;
}

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
    top: 0;
    transition: all .3s ease-in;
    text-decoration: none;
}

.card:hover {
    box-shadow: 7px 7px 7px 7px var(--neon-blue);
}

.card a:visited {
    color: black;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.card-text h2 {
    margin: 0;
}

.app-1 {
    grid-column: 1/ span 2;
}

.card img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.thumbnail-1 {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    border-radius: 25px 25px 0 0;
}

.card .thumbnail {
    padding-bottom: 75%;
    background-size: cover;
    background-position: center center;
    border-radius: 25px 25px 0 0;
}

/* Contact Section */

.contact-links {
    margin: 30px;
    margin-top: 80px;
    text-align: center;
}

.contact-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-image: url(https://media.istockphoto.com/vectors/pixel-art-cyberpunk-metropolis-background-vector-id1279840008?k=20&m=1279840008&s=170667a&w=0&h=-iGUKiZEL2WRbhNLL6N5kEb0aR8BRHHGY8pODdiRTow=);
    background-image: no-repeat;
    background-size: cover;
    color: var(--light)
}

/*media queries*/

@media screen and (max-width: 480px) {
    .app-grid-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .app-1 {
        grid-column: 1/ span 2;
    }

    .card {
        grid-column: 1/ span 2;
    }

    .about-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 640px) {
    .about-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .headshot {
        width: 100%;
        max-width: 300px;

    }

    .app-grid-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .app-1 {
        grid-column: 1/ span 2;
    }

    .card {
        grid-column: 1/ span 2;
    }

    .contact-container {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center
    }
}

@media screen and (max-width: 992px) {
    .app-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .app-1 {
        grid-column: 1/ span 2;
    }
}